.intro {
  &__wrapper {
    height: 100%;
  }

  &__link {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__image {
    width: 700px;
    height: auto;
  }
}
