$secondary-font: "FoundersGroteskMono", sans-serif;
$primary-font: "SuisseIntl", sans-serif;


@font-face {
  font-family: "SuisseIntl";
  src: url("/fonts/SuisseIntl-Regular.otf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "FoundersGroteskMono";
  src: url("/fonts/FoundersGroteskMonoRegular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FoundersGroteskMono";
  src: url("/fonts/FoundersGroteskMonoBold.otf");
  font-weight: 500;
  font-style: normal;
}
