---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="intro__wrapper">
    <a class="intro__link" href="/home">
      <img class="intro__image" src="/assets/images/full-logo.svg" />
    </a>
  </main>
</Layout>
