---
import Header from "../components/Header";
import PrintReleases from "../components/PrintReleases";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="homepage__wrapper">
    <Header client:idle />
    <PrintReleases client:idle />
  </div>
</Layout>
