<header class="header">
   <a href="<%= root_path() %>">
      <%= image_tag("logo.svg", class: "header__logo") %>
   </a>
   <div class="header__social">
      <a class="header__link" href="https://bandcamp.com" target="__blank">BANDCAMP</a>
      <a class="header__link" href="https://soundcloud.com" target="__blank">SOUNDCLOUD</a>
      <a class="header__link" href="https://instagram.com" target="__blank">INSTAGRAM</a>
      <a class="header__link" href="https://facebook.com" target="__blank">FACEBOOK</a>
   </div>
</header>