---
type Link = {
  title: string;
  url: string;
};
const links: Link[] = [
  { title: "Bandcamp", url: "https://clam-pressure.bandcamp.com/" },
  { title: "Soundcloud", url: "https://soundcloud.com/clam-pressure" },
  { title: "Instagram", url: "https://www.instagram.com/clam.pressure" },
  {
    title: "YouTube",
    url: "https://www.youtube.com/channel/UCcPnow6iHgZ6TgkuRY05M5w",
  },
];
---

<header class="header">
  <a href="/">
    <img
      class="header__logo"
      src="/assets/full-logo-3813dcbdd5ca08ae2c9122e17a4bc11e4ed1e267e79635bb23292cf58d6bbfca.svg"
    />
  </a>
  <div class="header__right-column">
    <img
      class="header__show-links"
      src="/assets/logo-0cfaa9bfdab32083bba45aad942baeb5a5db4262ca5463677609c12732505594.svg"
    />
    <div class="header__social header__social--hidden">
      {
        links.map((link) => (
          <a class="header__link" href={link.url} target="__blank">
            {link.title}
          </a>
        ))
      }
    </div>
  </div>
</header>
