<header class="header">
  <a href="http://localhost:3000/">
    <img
      class="header__logo"
      src="http://localhost:3000/assets/full-logo-3813dcbdd5ca08ae2c9122e17a4bc11e4ed1e267e79635bb23292cf58d6bbfca.svg"
    />
  </a>
  <div class="header__right-column">
    <img
      class="header__show-links"
      src="http://localhost:3000/assets/logo-0cfaa9bfdab32083bba45aad942baeb5a5db4262ca5463677609c12732505594.svg"
    />

    <div class="header__social header__social--hidden">
      <a
        class="header__link"
        href="https://clam-pressure.bandcamp.com/"
        target="__blank">BANDCAMP</a
      >
      <a
        class="header__link"
        href="https://soundcloud.com/clam-pressure"
        target="__blank">SOUNDCLOUD</a
      >
      <a
        class="header__link"
        href="https://www.instagram.com/clam.pressure/?hl=en"
        target="__blank">INSTAGRAM</a
      >
      <a
        class="header__link"
        href="https://www.youtube.com/channel/UCcPnow6iHgZ6TgkuRY05M5w"
        target="__blank">YOUTUBE</a
      >
    </div>
  </div>
</header>
