---
import Release, { Props as ReleaseProps } from "./Release";

const releases: ReleaseProps[] = [
  {
    catalogNumber: "CLAM013",
    publishDate: "17/06/2022",
    artistName: "TONY PEREZ",
    releaseTitle: "SUBBO",
    buyLink: "",
    coverImage: "/uploads/binda/image/image/6/CLAM_Website_IMG_2.jpg",
  },
  {
    catalogNumber: "CLAM012",
    publishDate: "11/03/2022",
    artistName: "SINERAW",
    releaseTitle: "EMULATION OF US",
    buyLink: "",
    coverImage: "/uploads/binda/image/image/6/CLAM_Website_IMG_2.jpg",
  },
  {
    catalogNumber: "CLAM011",
    publishDate: "02/02/2022",
    artistName: "EKSE &amp; ELAZY",
    releaseTitle: "BINEAL PONK",
    buyLink: "",
    coverImage: "/uploads/binda/image/image/6/CLAM_Website_IMG_2.jpg",
  },
];
---

<ul class="releases__list">
  {
    releases.map((release) => (
      <li class="releases__item">
        <Release client:idle {...release} />
      </li>
    ))
  }
</ul>
