---
import Release, { Props as ReleaseProps } from "./Release";

// "/uploads/binda/image/image/4/CLAM_Website_IMG.jpg",
// "/uploads/binda/image/image/5/CLAM_Website_IMG_Product1.jpg",
// "/uploads/binda/image/image/6/CLAM_Website_IMG_2.jpg",
// "/uploads/binda/image/image/7/CLAM_Website_IMG_Product3.jpg",
// "/uploads/binda/image/image/2/CLAM_Website_IMG_3.jpg",
// "/uploads/binda/image/image/3/CLAM_Website_IMG_Product2.jpg",

const releases: ReleaseProps[] = [
  {
    catalogNumber: "CLAM013",
    publishDate: "17/06/2022",
    artistName: "TONY PEREZ",
    releaseTitle: "SUBBO",
    buyLink: "",
    coverImage: "/uploads/binda/image/image/4/CLAM_Website_IMG.jpg",
  },
  {
    catalogNumber: "CLAM012",
    publishDate: "11/03/2022",
    artistName: "SINERAW",
    releaseTitle: "EMULATION OF US",
    buyLink: "",
    coverImage: "/uploads/binda/image/image/5/CLAM_Website_IMG_Product1.jpg",
  },
  {
    catalogNumber: "CLAM011",
    publishDate: "02/02/2022",
    artistName: "EKSE &amp; ELAZY",
    releaseTitle: "BINEAL PONK",
    buyLink: "",
    coverImage: "/uploads/binda/image/image/6/CLAM_Website_IMG_2.jpg",
  },
];
---

<ul class="releases__list">
  {
    releases.map((release) => (
      <li class="releases__item">
        <Release client:idle {...release} />
      </li>
    ))
  }
</ul>
