---
import Release, { Props as ReleaseProps } from "./Release";
import { client } from "../utils/sanity";

const query = /** groq */ `*[_type == "release"]{
  artistName,
  buyLink,
  catalogNumber,
  "coverImage": coverImage.asset->url,
  publishDate,
  "releaseImage": releaseImage.asset->url,
  releaseTitle,
  releaseType,
  "tracklist": tracklist.items[]{
    duration,
    number,
    title
  }
}`;
const releases = await client.fetch<ReleaseProps[]>(query);
---

<ul class="releases__list">
  {
    releases.map((release) => (
      <li class="releases__item">
        <Release client:visible {...release} />
      </li>
    ))
  }
</ul>
