---
import Release, { Props as ReleaseProps } from "./Release";

const releases: ReleaseProps[] = [
  {
    catalogNumber: "CLAM013",
    publishDate: "17/06/2022",
    releaseTitle: "SUBBO",
    releaseType: "DIGITAL RELEASE",
    releaseImage: "/Clam_files/CLAM_Website_IMG-27.png",
    artistName: "TONY PEREZ",
    buyLink: "https://clam-pressure.bandcamp.com/album/clam013-subbo",
    coverImage: "/Clam_files/CLAM_Website_IMG-26.png",
    tracklist: [
      {
        number: "01",
        title: "ME ON",
        duration: "03:59",
      },
      {
        number: "02",
        title: "CHERRY",
        duration: "02:58",
      },
      {
        number: "03",
        title: "GASH SKIT",
        duration: "02:31",
      },
      {
        number: "04",
        title: "BETTO",
        duration: "03:18",
      },
      {
        number: "05",
        title: "TONY'S TOYS",
        duration: "03:10",
      },
      {
        number: "06",
        title: "L.O.F.T.YU",
        duration: "04:16",
      },
      {
        number: "07",
        title: "SUBBO",
        duration: "07:12",
      },
      {
        number: "08",
        title: "ASCENDooo",
        duration: "04:17",
      },
      {
        number: "09",
        title: "EGG SHAPED PENIS",
        duration: "03:23",
      },
      {
        number: "10",
        title: "CANDLE",
        duration: "05:12",
      },
    ],
  },
  {
    catalogNumber: "CLAM012",
    publishDate: "11/03/2022",
    releaseTitle: "EMULATION OF US",
    releaseType: "DIGITAL RELEASE",
    releaseImage: "/Clam_files/CLAM_Website_IMG-25.png",
    artistName: "SINERAW",
    buyLink: "/home",
    coverImage: "/Clam_files/CLAM_Website_IMG-24.png",
    tracklist: [
      {
        number: "01",
        title: "EMULATION OF US",
        duration: "04:16",
      },
      {
        number: "02",
        title: "DISINTEGRATES",
        duration: "03:06",
      },
      {
        number: "03",
        title: "VERY ANGRY TYPING",
        duration: "03:43",
      },
      {
        number: "04",
        title: "INEMURI NOW",
        duration: "04:23",
      },
      {
        number: "05",
        title: "RAGÙ DESTINO DI LEPRE W/ TVVAASTE",
        duration: "03:22",
      },
      {
        number: "06",
        title: "RELIABLE FACILITIES",
        duration: "03:38",
      },
      {
        number: "07",
        title: "FORZANTICA",
        duration: "03:59",
      },
      {
        number: "08",
        title: "OPERANT PARADIGM TRIGGER",
        duration: "03:09",
      },
      {
        number: "09",
        title: "SEXUAL EXPANSION",
        duration: "04:48",
      },
      {
        number: "10",
        title: "SHE IS",
        duration: "05:00",
      },
    ],
  },
  {
    catalogNumber: "CLAM011",
    publishDate: "02/02/2022",
    releaseTitle: "BINEAL PONK",
    releaseType: "DIGITAL RELEASE",
    releaseImage: "/Clam_files/C011.2.jpg",
    artistName: "EKSE & ELAZY",
    buyLink: "https://clam-pressure.bandcamp.com/album/clam011-bineal-ponk",
    coverImage: "/Clam_files/C0011.2.jpg",
    tracklist: [
      {
        number: "01",
        title: "KCK",
        duration: "02:29",
      },
      {
        number: "02",
        title: "CAINS GIBBET DROP",
        duration: "03:08",
      },
      {
        number: "03",
        title: "BUNGO BAGGINS",
        duration: "04:44",
      },
      {
        number: "04",
        title: "HEART SHAPED HEDGES",
        duration: "02:40",
      },
      {
        number: "05",
        title: "PHOEBE",
        duration: "04:24",
      },
      {
        number: "06",
        title: "NEW CB",
        duration: "04:04",
      },
      {
        number: "07",
        title: "XESK",
        duration: "02:56",
      },
      {
        number: "08",
        title: "INTERZONE",
        duration: "03:05",
      },
      {
        number: "09",
        title: "MARIE ORK",
        duration: "02:33",
      },
      {
        number: "10",
        title: "KHALID",
        duration: "03:16",
      },
    ],
  },
  {
    catalogNumber: "CLAM010",
    publishDate: "01/10/2021",
    releaseTitle: "UNCAGED, UNLIMITED",
    releaseType: "DIGITAL RELEASE",
    releaseImage: "/Clam_files/C010.jpg",
    artistName: "JENNN",
    buyLink:
      "https://clam-pressure.bandcamp.com/album/clam010-uncaged-unlimited",
    coverImage: "/Clam_files/C0010.jpg",
    tracklist: [
      {
        number: "01",
        title: "UNTIL",
        duration: "01:27",
      },
      {
        number: "02",
        title: "RE SPITE",
        duration: "02:33",
      },
      {
        number: "03",
        title: "U???",
        duration: "03:49",
      },
      {
        number: "04",
        title: "ONE",
        duration: "02:43",
      },
      {
        number: "05",
        title: "BEAST, WORLD",
        duration: "03:50",
      },
      {
        number: "06",
        title: "PROX",
        duration: "04:14",
      },
      {
        number: "07",
        title: "BLESSER",
        duration: "04:17",
      },
      {
        number: "08",
        title: "PESO",
        duration: "02:00",
      },
      {
        number: "09",
        title: "EAT THE SHELL",
        duration: "02:24",
      },
      {
        number: "10",
        title: "UNLIMITED",
        duration: "04:10",
      },
    ],
  },
  {
    catalogNumber: "CLAM009",
    publishDate: "18/06/2021",
    releaseTitle: "A · • · Z",
    releaseType: "DIGITAL RELEASE",
    releaseImage: "/Clam_files/CLAM009_Website_IMG_Square.jpg",
    artistName: "KUTHI JIN, VORONHIL, TROPICAL INTERFACE",
    buyLink: "https://clam-pressure.bandcamp.com/album/clam009-a-z",
    coverImage: "/Clam_files/CLAM009_Website_IMG_Portrait_2.jpg",
    tracklist: [
      {
        number: "01",
        title: "A",
        duration: "04:49",
      },
      {
        number: "02",
        title: "· • · Z",
        duration: "04:19",
      },
    ],
  },
  {
    catalogNumber: "CLAM008",
    publishDate: "06/05/2021",
    releaseTitle: "COMMON PRACTICES",
    releaseType: "DIGITAL RELEASE",
    releaseImage: "/Clam_files/CLAM_Website_Skuge_Square.jpg",
    artistName: "AMISH BOY",
    buyLink:
      "https://clam-pressure.bandcamp.com/album/clam008-common-practices",
    coverImage: "/Clam_files/CLAM_Website_Skuge_Portrait.jpg",
    tracklist: [
      {
        number: "01",
        title: "VASELINE",
        duration: "04:12",
      },
      {
        number: "02",
        title: "DISTO SKUGE MEDLEY",
        duration: "05:11",
      },
      {
        number: "03",
        title: "OMETHYLASETHYLIC",
        duration: "03:30",
      },
      {
        number: "04",
        title: "SHILOH",
        duration: "03:34",
      },
      {
        number: "05",
        title: "SOLAR FASCINUUM",
        duration: "04:37",
      },
      {
        number: "06",
        title: "AUTHORITEIT",
        duration: "03:16",
      },
      {
        number: "07",
        title: "KITCHEN BEE",
        duration: "03:43",
      },
      {
        number: "08",
        title: "ROCK A BILLY",
        duration: "05:09",
      },
    ],
  },
  {
    catalogNumber: "CLAM007",
    publishDate: "01/04/2021",
    releaseTitle: "HOW DID I SURVIVE?",
    releaseType: "DIGITAL RELEASE",
    releaseImage: "/Clam_files/CLAM_Website_Talpah_Square.jpg",
    artistName: "TALPAH",
    buyLink:
      "https://clam-pressure.bandcamp.com/album/clam007-how-did-i-survive",
    coverImage: "/Clam_files/CLAM_Website_Talpah_Portrait.jpg",
    tracklist: [
      {
        number: "01",
        title: "TURN ME A",
        duration: "04:24",
      },
      {
        number: "02",
        title: "3MINTRIP W/ DEEPHO",
        duration: "03:06",
      },
      {
        number: "03",
        title: "THROAT SINGING",
        duration: "03:42",
      },
      {
        number: "04",
        title: "TIME BENDING W/ KUTHI JIN",
        duration: "03:35",
      },
      {
        number: "05",
        title: "INSECURITY",
        duration: "03:20",
      },
      {
        number: "06",
        title: "HOLE W/ DEEPHO & DERIANSKY",
        duration: "03:45",
      },
      {
        number: "07",
        title: "NOT FUNNY",
        duration: "03:04",
      },
      {
        number: "08",
        title: "VACUUM W/ TANCA",
        duration: "03:33",
      },
      {
        number: "09",
        title: "PRESENT DAY",
        duration: "03:35",
      },
      {
        number: "10",
        title: "THE BEGINNING AND THE END ARE ONE AND THE SAME",
        duration: "03:22",
      },
    ],
  },
  {
    catalogNumber: "CLAM006",
    publishDate: "29/01/2021",
    releaseTitle: "PHANTASMAGORIA",
    releaseType: "DIGITAL RELEASE",
    releaseImage: "/Clam_files/CLAM_Website_IMG.png",
    artistName: "Voronhil",
    buyLink: "https://clam-pressure.bandcamp.com/album/clam006-phantasmagoria",
    coverImage: "/Clam_files/CLAM_Website_IMG_Portrait.png",
    tracklist: [
      {
        number: "01",
        title: "01",
        duration: "04:43",
      },
      {
        number: "02",
        title: "02",
        duration: "04:18",
      },
      {
        number: "03",
        title: "03",
        duration: "05:21",
      },
      {
        number: "04",
        title: "04",
        duration: "05:49",
      },
      {
        number: "05",
        title: "05",
        duration: "04:34",
      },
      {
        number: "06",
        title: "06",
        duration: "04:32",
      },
      {
        number: "07",
        title: "07",
        duration: "04:07",
      },
      {
        number: "08",
        title: "08",
        duration: "04:04",
      },
      {
        number: "09",
        title: "09",
        duration: "04:40",
      },
      {
        number: "10",
        title: "10",
        duration: "04:04",
      },
      {
        number: "11",
        title: "11",
        duration: "05:08",
      },
      {
        number: "12",
        title: "12",
        duration: "04:34",
      },
      {
        number: "13",
        title: "13",
        duration: "03:36",
      },
      {
        number: "14",
        title: "14",
        duration: "05:19",
      },
      {
        number: "15",
        title: "15",
        duration: "04:26",
      },
      {
        number: "16",
        title: "16",
        duration: "04:43",
      },
      {
        number: "17",
        title: "17",
        duration: "04:51",
      },
      {
        number: "18",
        title: "18",
        duration: "03:55",
      },
      {
        number: "19",
        title: "19",
        duration: "05:10",
      },
      {
        number: "20",
        title: "20",
        duration: "06:14",
      },
      {
        number: "21",
        title: "21",
        duration: "08:16",
      },
    ],
  },
  {
    catalogNumber: "CLAM005",
    publishDate: "30/09/2020",
    releaseTitle: "K MAJIK 23",
    releaseType: "DIGITAL RELEASE",
    releaseImage: "/Clam_files/C005(1).jpg",
    artistName: "KUTHI JIN",
    buyLink: "https://clam-pressure.bandcamp.com/album/clam005-k-majik-23",
    coverImage: "/Clam_files/C005.jpg",
    tracklist: [
      {
        number: "01",
        title: "MAJIK 23 ",
        duration: "06:34",
      },
      {
        number: "02",
        title: "THE LOVE (AGE OF K) ",
        duration: "04:00",
      },
      {
        number: "03",
        title: "MAMA, LIFE MIRAKLE ",
        duration: "07:34",
      },
      {
        number: "04",
        title: "DROOOL ",
        duration: "05:04",
      },
      {
        number: "05",
        title: "VAGINAL GROOVE, KUNG POW PENIS",
        duration: "05:00",
      },
      {
        number: "06",
        title: "JWELEZ ",
        duration: "05:41",
      },
      {
        number: "07",
        title: "ANTIKASHIZHA W/ VORONHIL",
        duration: "06:31",
      },
      {
        number: "08",
        title: "TRIKMAZTER ",
        duration: "11:34",
      },
      {
        number: "09",
        title: "KLIT SUIT W/ CAPO ",
        duration: "06:20",
      },
      {
        number: "10",
        title: "SORTE. . . ",
        duration: "02:08",
      },
    ],
  },
  {
    catalogNumber: "CLAM004",
    publishDate: "04/06/2020",
    releaseTitle: "POLLUTION",
    releaseType: "DIGITAL RELEASE",
    releaseImage: "/Clam_files/C004.jpg",
    artistName: "Tropical Interface",
    buyLink: "https://clam-pressure.bandcamp.com/album/clam004-pollution",
    coverImage: "/Clam_files/C004_Digital.jpg",
    tracklist: [
      {
        number: "01",
        title: "ANCIENT W/ PIXELORD ",
        duration: "04:37",
      },
      {
        number: "02",
        title: "MELT ",
        duration: "04:03",
      },
      {
        number: "03",
        title: "REAL MFG ",
        duration: "04:19",
      },
      {
        number: "04",
        title: "POLLUTION ANTHEM ",
        duration: "03:31",
      },
    ],
  },
  {
    catalogNumber: "CLAM003",
    publishDate: "13/04/2020",
    releaseTitle: "FANTASIA EXFORMATION PRINCIPLE",
    releaseType: "200 CDs",
    releaseImage: "/Clam_files/CLAM_Website_IMG_Product1.jpg",
    artistName: "Voronhil",
    buyLink:
      "https://clam-pressure.bandcamp.com/album/clam003-fantasia-exformation-principle",
    coverImage: "/Clam_files/CLAM_Website_IMG.jpg",
    tracklist: [
      {
        number: "01",
        title: "FERAL RUPTURE",
        duration: "03:53",
      },
      {
        number: "02",
        title: "BLEEDING TOOTH",
        duration: "04:04",
      },
      {
        number: "03",
        title: "ETERNAL RETURN",
        duration: "03:03",
      },
      {
        number: "04",
        title: "POWER OUTAGE, SINKING SPACESHIP",
        duration: "03:11",
      },
      {
        number: "05",
        title: "DISCARDED EXOSKELETON",
        duration: "02:49",
      },
      {
        number: "06",
        title: "TON619",
        duration: "03:07",
      },
      {
        number: "07",
        title: "NEO-WASP",
        duration: "04:07",
      },
      {
        number: "08",
        title: "SINGULARITY",
        duration: "03:00",
      },
      {
        number: "09",
        title: "CLUSTERSHOT W/ KUTHI JIN",
        duration: "04:31",
      },
      {
        number: "10",
        title: "OVEREXPOSURE",
        duration: "04:08",
      },
      {
        number: "11",
        title: "PURGING DAGGER",
        duration: "03:29",
      },
      {
        number: "12",
        title: "THE BLACK RAT",
        duration: "03:32",
      },
      {
        number: "13",
        title: "CLEAN CUTS",
        duration: "04:04",
      },
    ],
  },
  {
    catalogNumber: "CLAM002",
    publishDate: "02/02/2020",
    releaseTitle: "61218",
    releaseType: "150 BLACK / 50 PINK 12”VINYLS",
    releaseImage: "/Clam_files/CLAM_Website_IMG_Product3.jpg",
    artistName: "011668 & S280F",
    buyLink: "https://clam-pressure.bandcamp.com/album/clam002-161218",
    coverImage: "/Clam_files/CLAM_Website_IMG_2.jpg",
    tracklist: [
      {
        number: "01",
        title: "TENDRE AEL & S280F - ,/ 161218 (ft. 011668)",
        duration: "06:07",
      },
      {
        number: "02",
        title: "HIGH CHARITY ) RED EARTH PURIFICATION CEREMONY (ft. vvxxii)",
        duration: "08:47",
      },
    ],
  },
  {
    catalogNumber: "CLAM001",
    publishDate: "12/10/2019",
    releaseTitle: "MIMICRY OF DEATH",
    releaseType: "200 12”VINYLS",
    releaseImage: "/Clam_files/CLAM_Website_IMG_Product2.jpg",
    artistName: "Kuthi Jin",
    buyLink:
      "https://clam-pressure.bandcamp.com/album/clam001-mimicry-of-death",
    coverImage: "/Clam_files/CLAM_Website_IMG_3.jpg",
    tracklist: [
      {
        number: "01",
        title: "CHAOS PIT",
        duration: "03:44",
      },
      {
        number: "02",
        title: "LAST RITUAL",
        duration: "02:41",
      },
      {
        number: "03",
        title: "COMFORT ZONES",
        duration: "02:23",
      },
      {
        number: "04",
        title: "THE CREATOR?",
        duration: "03:33",
      },
    ],
  },
];
---

<ul class="releases__list">
  {
    releases.map((release) => (
      <li class="releases__item">
        <Release client:visible {...release} />
      </li>
    ))
  }
</ul>
