---
import Release, { Props as ReleaseProps } from "./Release";

const releases: ReleaseProps[] = [
  {
    catalogNumber: "CLAM013",
    publishDate: "17/06/2022",
    releaseTitle: "SUBBO",
    releaseType: "DIGITAL RELEASE",
    artistName: "TONY PEREZ",
    buyLink: "https://clam-pressure.bandcamp.com/album/clam013-subbo",
    coverImage: "/Clam_files/CLAM_Website_IMG-26.png",
  },
  {
    catalogNumber: "CLAM012",
    publishDate: "11/03/2022",
    releaseTitle: "EMULATION OF US",
    releaseType: "DIGITAL RELEASE",
    artistName: "SINERAW",
    buyLink: "/home",
    coverImage: "/Clam_files/CLAM_Website_IMG-24.png",
  },
  {
    catalogNumber: "CLAM011",
    publishDate: "02/02/2022",
    releaseTitle: "BINEAL PONK",
    releaseType: "DIGITAL RELEASE",
    artistName: "EKSE & ELAZY",
    buyLink: "https://clam-pressure.bandcamp.com/album/clam011-bineal-ponk",
    coverImage: "/Clam_files/C0011.2.jpg",
  },
  {
    catalogNumber: "CLAM010",
    publishDate: "01/10/2021",
    releaseTitle: "UNCAGED, UNLIMITED",
    releaseType: "DIGITAL RELEASE",
    artistName: "JENNN",
    buyLink:
      "https://clam-pressure.bandcamp.com/album/clam010-uncaged-unlimited",
    coverImage: "/Clam_files/C0010.jpg",
  },
  {
    catalogNumber: "CLAM009",
    publishDate: "18/06/2021",
    releaseTitle: "A · • · Z",
    releaseType: "DIGITAL RELEASE",
    artistName: "KUTHI JIN, VORONHIL, TROPICAL INTERFACE",
    buyLink: "https://clam-pressure.bandcamp.com/album/clam009-a-z",
    coverImage: "/Clam_files/CLAM009_Website_IMG_Portrait_2.jpg",
  },
  {
    catalogNumber: "CLAM008",
    publishDate: "06/05/2021",
    releaseTitle: "COMMON PRACTICES",
    releaseType: "DIGITAL RELEASE",
    artistName: "AMISH BOY",
    buyLink:
      "https://clam-pressure.bandcamp.com/album/clam008-common-practices",
    coverImage: "/Clam_files/CLAM_Website_Skuge_Portrait.jpg",
  },
  {
    catalogNumber: "CLAM007",
    publishDate: "01/04/2021",
    releaseTitle: "HOW DID I SURVIVE?",
    releaseType: "DIGITAL RELEASE",
    artistName: "TALPAH",
    buyLink:
      "https://clam-pressure.bandcamp.com/album/clam007-how-did-i-survive",
    coverImage: "/Clam_files/CLAM_Website_Talpah_Portrait.jpg",
  },
  {
    catalogNumber: "CLAM006",
    publishDate: "29/01/2021",
    releaseTitle: "PHANTASMAGORIA",
    releaseType: "DIGITAL RELEASE",
    artistName: "Voronhil",
    buyLink: "https://clam-pressure.bandcamp.com/album/clam006-phantasmagoria",
    coverImage: "/Clam_files/CLAM_Website_IMG_Portrait.png",
  },
  {
    catalogNumber: "CLAM005",
    publishDate: "30/09/2020",
    releaseTitle: "K MAJIK 23",
    releaseType: "DIGITAL RELEASE",
    artistName: "KUTHI JIN",
    buyLink: "https://clam-pressure.bandcamp.com/album/clam005-k-majik-23",
    coverImage: "/Clam_files/C005.jpg",
  },
  {
    catalogNumber: "CLAM004",
    publishDate: "04/06/2020",
    releaseTitle: "POLLUTION",
    releaseType: "DIGITAL RELEASE",
    artistName: "Tropical Interface",
    buyLink: "https://clam-pressure.bandcamp.com/album/clam004-pollution",
    coverImage: "/Clam_files/C004_Digital.jpg",
  },
  {
    catalogNumber: "CLAM003",
    publishDate: "13/04/2020",
    releaseTitle: "FANTASIA EXFORMATION PRINCIPLE",
    releaseType: "200 CDs",
    artistName: "Voronhil",
    buyLink:
      "https://clam-pressure.bandcamp.com/album/clam003-fantasia-exformation-principle",
    coverImage: "/Clam_files/CLAM_Website_IMG.jpg",
  },
  {
    catalogNumber: "CLAM002",
    publishDate: "02/02/2020",
    releaseTitle: "61218",
    releaseType: "150 BLACK / 50 PINK 12”VINYLS",
    artistName: "011668 & S280F",
    buyLink: "https://clam-pressure.bandcamp.com/album/clam002-161218",
    coverImage: "/Clam_files/CLAM_Website_IMG_2.jpg",
  },
  {
    catalogNumber: "CLAM001",
    publishDate: "12/10/2019",
    releaseTitle: "MIMICRY OF DEATH",
    releaseType: "200 12”VINYLS",
    artistName: "Kuthi Jin",
    buyLink:
      "https://clam-pressure.bandcamp.com/album/clam001-mimicry-of-death",
    coverImage: "/Clam_files/CLAM_Website_IMG_3.jpg",
  },
];
---

<ul class="releases__list">
  {
    releases.map((release) => (
      <li class="releases__item">
        <Release client:idle {...release} />
      </li>
    ))
  }
</ul>
