@font-face {
  font-family: "SuisseIntl";
  src: url("/assets/fonts/SuisseIntl-Regular.otf");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "FoundersGroteskMono";
  src: url("/assets/fonts/FoundersGroteskMonoRegular.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FoundersGroteskMono";
  src: url("/assets/fonts/FoundersGroteskMonoBold.otf");
  font-weight: 500;
  font-style: normal;
}
/* http://meyerweb.com/eric/tools/css/reset/
     v2.0 | 20110126
     License: none (public domain)
  */
/* line 6, /myapp/app/assets/stylesheets/config/_reset.scss */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 95, /myapp/app/assets/stylesheets/config/_reset.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* line 108, /myapp/app/assets/stylesheets/config/_reset.scss */
body {
  line-height: 1;
}

/* line 111, /myapp/app/assets/stylesheets/config/_reset.scss */
ol,
ul {
  list-style: none;
}

/* line 115, /myapp/app/assets/stylesheets/config/_reset.scss */
blockquote,
q {
  quotes: none;
}

/* line 119, /myapp/app/assets/stylesheets/config/_reset.scss */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* line 126, /myapp/app/assets/stylesheets/config/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, /myapp/app/assets/stylesheets/config/_base.scss */
body {
  background: black;
  color: white;
}

/* line 1, /myapp/app/assets/stylesheets/components/_header.scss */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  pointer-events: none;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
  /* Make header always visible, regardless of the background */
  mix-blend-mode: difference;
}
@media screen and (min-width: 768px) {
  /* line 1, /myapp/app/assets/stylesheets/components/_header.scss */
  .header {
    margin: 30px 20px;
  }
}
@media screen and (min-width: 1024px) {
  /* line 1, /myapp/app/assets/stylesheets/components/_header.scss */
  .header {
    margin: 30px;
  }
}
/* line 25, /myapp/app/assets/stylesheets/components/_header.scss */
.header__logo {
  width: 130px;
  height: auto;
  pointer-events: all;
  margin-right: 15px;
}
/* line 32, /myapp/app/assets/stylesheets/components/_header.scss */
.header__right-column {
  position: relative;
  display: flex;
  justify-content: flex-end;
  flex: 0 1 200px;
}
@media screen and (min-width: 1024px) {
  /* line 32, /myapp/app/assets/stylesheets/components/_header.scss */
  .header__right-column {
    flex: 0 1 250px;
  }
}
/* line 43, /myapp/app/assets/stylesheets/components/_header.scss */
.header__show-links {
  width: 40px;
  height: auto;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  pointer-events: all;
}
/* line 53, /myapp/app/assets/stylesheets/components/_header.scss */
.header__show-links--hidden {
  display: none;
}
/* line 58, /myapp/app/assets/stylesheets/components/_header.scss */
.header__social {
  pointer-events: all;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  /* line 58, /myapp/app/assets/stylesheets/components/_header.scss */
  .header__social {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: flex-end;
    width: auto;
  }
}
/* line 70, /myapp/app/assets/stylesheets/components/_header.scss */
.header__social--hidden {
  display: none;
}
/* line 75, /myapp/app/assets/stylesheets/components/_header.scss */
.header__link {
  text-decoration: none;
  border: solid 1px;
  color: black;
  background-color: white;
  border-color: black;
  display: block;
  min-width: 100px;
  padding: 6px 0 4px 4px;
  font-family: "SuisseIntl", sans-serif;
  font-size: 10px;
  letter-spacing: 0.6px;
  text-align: left;
}
/* line 76, /myapp/app/assets/stylesheets/components/_header.scss */
.header__link:not(:first-of-type) {
  margin-top: 10px;
}
@media screen and (min-width: 1024px) {
  /* line 80, /myapp/app/assets/stylesheets/components/_header.scss */
  .header__link:not(:first-of-type) {
    margin-top: 0px;
  }
}
/* line 101, /myapp/app/assets/stylesheets/components/_header.scss */
.header__link:hover {
  color: white;
  background-color: black;
  border-color: white;
}

/* line 3, /myapp/app/assets/stylesheets/components/_release.scss */
.release {
  color: black;
  background-color: white;
  width: 100%;
}
/* line 9, /myapp/app/assets/stylesheets/components/_release.scss */
.release__top-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  padding: 5px 10px;
  cursor: pointer;
}
/* line 18, /myapp/app/assets/stylesheets/components/_release.scss */
.release__container {
  position: relative;
}
/* line 22, /myapp/app/assets/stylesheets/components/_release.scss */
.release__cover {
  width: 100%;
  height: 0;
  padding-bottom: 150%;
  position: relative;
  overflow: hidden;
  z-index: 2;
  pointer-events: none;
}
/* line 32, /myapp/app/assets/stylesheets/components/_release.scss */
.release__cover-inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  border-top: solid 1px black;
  cursor: pointer;
  pointer-events: all;
  transition: opacity 0.3s;
  opacity: 1;
}
/* line 47, /myapp/app/assets/stylesheets/components/_release.scss */
.release__cover-inner--hidden {
  opacity: 0;
  pointer-events: none;
}
/* line 53, /myapp/app/assets/stylesheets/components/_release.scss */
.release__cover-image {
  height: 100%;
  width: auto;
  opacity: 0;
  transition: opacity 0.3s;
}
/* line 59, /myapp/app/assets/stylesheets/components/_release.scss */
.release__cover-image.loaded {
  opacity: 1;
}
/* line 64, /myapp/app/assets/stylesheets/components/_release.scss */
.release__content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
/* line 77, /myapp/app/assets/stylesheets/components/_release.scss */
.release__catalog-number {
  font-family: "SuisseIntl", sans-serif;
  font-size: 10px;
  text-align: left;
}
/* line 83, /myapp/app/assets/stylesheets/components/_release.scss */
.release__arrow {
  width: 10px;
  height: auto;
  transition: transform 0.3s;
}
/* line 88, /myapp/app/assets/stylesheets/components/_release.scss */
.release__arrow--open {
  transform: rotate(180deg);
}
/* line 93, /myapp/app/assets/stylesheets/components/_release.scss */
.release__header {
  display: flex;
  flex-direction: row;
}
/* line 98, /myapp/app/assets/stylesheets/components/_release.scss */
.release__left-column {
  flex: 0 1 25%;
  margin-right: 10px;
}
/* line 103, /myapp/app/assets/stylesheets/components/_release.scss */
.release__right-column {
  flex: 1;
}
/* line 107, /myapp/app/assets/stylesheets/components/_release.scss */
.release__detail,
.release__publish-date {
  display: block;
  font-family: "FoundersGroteskMono", sans-serif;
  font-size: 10px;
  font-weight: 300;
  line-height: 1.6;
  /* Prevent text from overflowing left column */
  overflow-wrap: anywhere;
}
/* line 118, /myapp/app/assets/stylesheets/components/_release.scss */
.release__title,
.release__artist {
  font-family: "SuisseIntl", sans-serif;
  font-size: 14px;
  letter-spacing: 0.28px;
}
/* line 125, /myapp/app/assets/stylesheets/components/_release.scss */
.release__title {
  font-weight: bold;
  line-height: 1.14;
}
/* line 130, /myapp/app/assets/stylesheets/components/_release.scss */
.release__tracklist {
  flex: 1;
  position: relative;
  margin: 10px 0;
}
/* line 136, /myapp/app/assets/stylesheets/components/_release.scss */
.release__tracklist-inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  overflow-wrap: break-word;
}
/* line 147, /myapp/app/assets/stylesheets/components/_release.scss */
.release__footer {
  display: flex;
}
/* line 151, /myapp/app/assets/stylesheets/components/_release.scss */
.release__footer-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
/* line 157, /myapp/app/assets/stylesheets/components/_release.scss */
.release__buy-link {
  padding: 5px 10px;
  text-decoration: none;
  border: solid 1px;
  color: black;
  border-color: black;
  font-family: "SuisseIntl", sans-serif;
  font-size: 10px;
  letter-spacing: 0.18px;
  margin-bottom: 10px;
}
/* line 166, /myapp/app/assets/stylesheets/components/_release.scss */
.release__buy-link:hover {
  color: white;
  background-color: black;
}
/* line 178, /myapp/app/assets/stylesheets/components/_release.scss */
.release__image-container {
  width: 100%;
}
/* line 182, /myapp/app/assets/stylesheets/components/_release.scss */
.release__image {
  width: 100%;
  height: auto;
}

/* line 2, /myapp/app/assets/stylesheets/components/_tracklist.scss */
.tracklist__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* line 7, /myapp/app/assets/stylesheets/components/_tracklist.scss */
.tracklist__item:not(:first-of-type) {
  margin-top: 0.5em;
}

/* line 13, /myapp/app/assets/stylesheets/components/_tracklist.scss */
.track {
  display: flex;
}
/* line 16, /myapp/app/assets/stylesheets/components/_tracklist.scss */
.track__number,
.track__duration,
.track__title {
  font-size: 10px;
  line-height: 1;
}
/* line 23, /myapp/app/assets/stylesheets/components/_tracklist.scss */
.track__number,
.track__duration {
  font-family: "FoundersGroteskMono", sans-serif;
}
/* line 29, /myapp/app/assets/stylesheets/components/_tracklist.scss */
.track__number {
  flex: 0 1 25%;
  margin-right: 10px;
}
/* line 33, /myapp/app/assets/stylesheets/components/_tracklist.scss */
.track__title {
  flex: 1;
  font-family: "SuisseIntl", sans-serif;
  line-height: 1;
  letter-spacing: 0.18px;
}
/* line 39, /myapp/app/assets/stylesheets/components/_tracklist.scss */
.track__duration {
  flex: 0 1 60px;
  text-align: right;
}

/* line 1, /myapp/app/assets/stylesheets/views/homepage.scss */
.homepage__wrapper {
  height: 100%;
}

/* line 5, /myapp/app/assets/stylesheets/views/homepage.scss */
.releases__list {
  flex: 1;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr;
  margin: 70px 10px 20px 10px;
  grid-gap: 70px;
}
@media screen and (min-width: 768px) {
  /* line 5, /myapp/app/assets/stylesheets/views/homepage.scss */
  .releases__list {
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 35px;
    grid-column-gap: 20px;
    margin: 215px 20px 20px 20px;
  }
}
@media screen and (min-width: 1024px) {
  /* line 5, /myapp/app/assets/stylesheets/views/homepage.scss */
  .releases__list {
    grid-template-columns: 1fr 1fr 1fr;
    margin: 220px 30px 30px 30px;
  }
}

/* line 28, /myapp/app/assets/stylesheets/views/homepage.scss */
.releases__item {
  position: relative;
}

/* line 2, /myapp/app/assets/stylesheets/views/intro.scss */
.intro__link {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 11, /myapp/app/assets/stylesheets/views/intro.scss */
.intro__image {
  width: 700px;
  height: auto;
}
