---
---

<!DOCTYPE html>
<html translate="no">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Clam</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="THE INFINITE CULT OF PRESSURE PEARLS." />
    <meta property="og:title" content="Clam" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://localhost:3000/home" />
    <meta
      property="og:image"
      content="http://localhost:3000/uploads/binda/image/image/8/Clam_Web_OG_Image_1200x630px-01.png"
    />
    <meta
      property="og:description"
      content="THE INFINITE CULT OF PRESSURE PEARLS."
    />
    <meta property="og:site_name" content="Clam" />

    <meta name="csrf-param" content="authenticity_token" />
    <meta
      name="csrf-token"
      content="WlA8CHWiCHsRPedYK6bowv6vTGqCx9bByqHf2-Jz319p90yGi2P4P0X6204mnZ4EXIYstQJx5pWGZ91AOtY2Iw"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://localhost:3000/assets/application.self-fab0c0fa93a76ac6b98b790c9b2707d586b5a12cdc6b84a4fd057f935d970153.css?body=1"
    />
  </head>
  <body data-controller="homepage" data-action="show">
    <slot />
    <!-- your content is injected here -->
  </body>
</html>
