---
import "../styles/application.scss";
---

<!DOCTYPE html>
<html translate="no">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Clam</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="THE INFINITE CULT OF PRESSURE PEARLS." />
    <meta property="og:title" content="Clam" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="/home" />
    <meta
      property="og:image"
      content="/uploads/binda/image/image/8/Clam_Web_OG_Image_1200x630px-01.png"
    />
    <meta
      property="og:description"
      content="THE INFINITE CULT OF PRESSURE PEARLS."
    />
    <meta property="og:site_name" content="Clam" />
  </head>
  <body data-controller="homepage" data-action="show">
    <slot />
    <!-- your content is injected here -->
  </body>
</html>
