.release {
  color: $color-black;
  background-color: $color-white;

  width: 360px;
  height: auto;

  &__top-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding: 10px 5px;
  }

  &__catalog-number {
    font-family: $primary-font;
    font-size: 10px;
    text-align: left;
  }

  &__content {
    height: 530px;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  &__header {
    display: flex;
    flex-direction: row;
  }

  &__detail,
  &__publish-date {
    display: block;
  }

  &__tracklist {
    flex: 1;
    position: relative;
    background-color: grey;
  }

  &__tracklist-inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    overflow-wrap: break-word;
  }
}
