.tracklist {
  &__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &:not(:first-of-type) {
      margin-top: 0.5em;
    }
  }
}

.track {
  display: flex;

  &__number,
  &__duration,
  &__title {
    font-size: 10px;
    line-height: 1;
  }

  &__number,
  &__duration {
    font-family: $secondary-font;
    //font-weight: bold;
  }

  &__number {
    flex: 0 1 100px;
  }
  &__title {
    flex: 1;
    font-family: $primary-font;
    line-height: 1;
    letter-spacing: 0.18px;
  }
  &__duration {
    flex: 0 1 60px;
    text-align: right;
  }
}
